<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
    <title>비밀번호 확인</title>
</head>
<body>
    <h1>U Search</h1>
    <div class="input">
        <form action="" method="post">
        
            <!-- 비밀번호 -->
            <h3>
                <label for="password">비밀번호</label>
            </h3>
            <span>
                <input id="password" type="password" class="R_blank" name="password">
            </span>

            
            <!-- Submit -->
            <p>
            <button type="submit" class="R_btn" value="passwordbtn" name="passwordbtn">확인</button>
            <button type="submit" class="R_btn" value="cancel" name="cancel">취소</button>
            </p>
        </form>



    </div>
</body>
</html>